<!DOCTYPE html>
<pre lang="aspnet">@RenderSection("Scripts", false)</pre>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" href="@Url.Content("~/Content/css/south-street/jquery-ui-1.8.14.custom.css")" rel="stylesheet" />

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.15/jquery-ui.js"></script>

    <link id="agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRiF-woM" rel="stylesheet" type="text/css"
        href="http://www.webputty.net/css/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRiF-woM" />
    <script type="text/javascript" src="http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRiF-woM"></script>
</head>
<body class="page_contentStyle">
    <div id="header" class="container_12">
        <div class="grid_12">
            <a href="/">
                <img src="../../Content/2011-06-17_Logo_TEMP.png" style="border: none" alt="Is this big enough? ... That's what she said" /></a>
        </div>
        <div class="grid_12">
            @Html.Partial("_navigationMenu")
        </div>
    </div>
    <div id="content" class="container_12">
        @RenderBody()
    </div>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22338335-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
