@model IEnumerable<MapItPrices.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
Users: @(Model.Count()-3)
   </p>
   
<table>
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            Created
        </th>
        <th>
            LastUpdated
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
